@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

*{
    padding: 0px;
    margin: 0px;
}

nav{
    
    height: 50px;
    background-color: #762FCF;
}
.home{
    
    background-color: #000000c9;
    height: 100vh;
    display: flex;
    justify-content:center; 
    align-items: center;
    flex-wrap: wrap;
    background-image: url(imagens/wave-\(azul\).png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size:contain;
    position: relative;
    
}
.nome_redes{
    display: flex;
    align-items:center;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
}


#bg{
    filter: blur(1px);
    z-index: -5;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    
}
a{
    text-decoration: none;
}
.redes{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    
    
    height: 100px;
}
button{
    cursor: pointer;
    margin: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: xx-large;
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 6px 5px  10px #000000 ;
    border: 5px solid #762FCF;
    font-size: clamp(1em, 1em + 1vw, 1.5em);

}
button img{
    height: 30px;
    margin-right: 20px;
}

.Mnome{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 70px;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.589);
    
}
i{
    font-size: 40%;

}
.Fperfil{
    border-radius: 50%;
    box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.178);
    margin: 50px;
    height: 40vw;
    max-height:300px;
    
}
.Formaçao{
    background-color: #762FCF;
    
    
}
.ttformaçao{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;

    
   
}

.divformaçao{
    display: flex;
    flex-direction: column;
    text-align: center;
}


.iformaçao{
    max-height: 250px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.589);
    border-radius: 25px;
    margin: 20px;
    margin-top: 200px;
}

.listformaçao{
        border-radius: 15px;
        margin-left: 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 1000px;
        height: 550px;
        overflow-x: auto;
        margin: 25px;

}
.cardformacao{
    margin-left: 20px;
    height: 400px;
    background-color: #ffffff;
    margin-bottom: 15px;
    border-radius: 10px;
    padding: 55px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.39);
    cursor: pointer;
    
}

.tformçao{
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 15px;
    font-size: 4vh;
    color: #F44926;
    font-weight: bolder;
    width: 300px;
}
.conteiner{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.pformaçao{
    
    font-size: 150%;
    font-family: Arial, Helvetica, sans-serif;
}

.logoescola{
    margin-top: 30px;
    margin-left: 50px;
    max-width: 200px;
    
}

.projetos{
    background-image: url(imagens/wp.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size:contain;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #F44926;
    flex-wrap: wrap;
    
}
.projetosh1{
    color: rgb(255, 255, 255);
    font-family: 'Russo One', sans-serif;
    height: 100px;
    text-transform: uppercase;
    font-size: clamp(2.5em, 1em + 1vw, 2em);
    text-align: center;
    margin-top: 10px;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.39);
}
.projetos p{
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.lista_projetos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.Dprojeto{
    margin: 50px;
    max-width: 350px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    position: relative;
    -webkit-box-shadow: 5px 10px 73px -1px rgba(0,0,0,0.91);
    -moz-box-shadow: 5px 10px 73px -1px rgba(0,0,0,0.91);
    box-shadow: 5px 10px 73px -1px rgba(0,0,0,0.91);
    }
.imagemprojeto{
    width: 100%;
    border-radius: 5px;
}
.titulo_projeto{
    margin-top: 20px;
    color: #F44926;
    font-family: 'Russo One', sans-serif;
}

.texto_tecusadas{
    font-size: 20px;
    font-family: 'Russo One', sans-serif;
    height: 100px;
    text-transform: uppercase;
    margin-top: 20px;
    color: #F44926;
}


.rodapedivprojeto{
    width: 100%;
    display: flex;
    flex-direction: column;
   
    
}

.partiçao1_projeto{
    
    border-radius: 10px;
    width:100%;
    margin: 1px;
    
    
}
.partiçao1_projeto  img{
    height: 50px;
    margin-right: 10px;
    
    
}

.bnt_projeto{
    padding: 10px;
    margin-top: 50px;
    background-color: #762FCF;
    float:right;
    border-radius: 10px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    
}

.imagemprojeto{
    position: relative; 
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.577);
    
    
}
.imagemprojeto:hover{
    transform: scale(1.3);
   
    
}



::-webkit-scrollbar-thumb{
   background-color:#762FCF;
   box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.39);
   

}
::-webkit-scrollbar{
    background-color: #ffffff;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.39);
    
}