*{
    padding: 0px;
    margin: 0px;
}
nav{
    
    height: 50px;
    background-color: #762FCF;
}
.home{
    
    background-color: #000000c9;
    height: 100vh;
    display: flex;
    justify-content:space-around; 
    align-items: center;
    flex-wrap: wrap;
    background-image: url(imagens/wave-\(azul\).png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size:contain;
    position: relative;
    
}


#bg{
    filter: blur(1px);
    z-index: -5;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    
}
a{
    text-decoration: none;
}
.redes{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    
    
    height: 100px;
}
button{
    cursor: pointer;
    margin: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: xx-large;
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 10px;
    border-radius: 10px;
    height: 80px;
    box-shadow: 6px 5px  10px #000000 ;
    border: 5px solid #762FCF;

}
button img{
    height: 50px;
    margin-right: 20px;
}

.Mnome{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100px;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.589);
    
}
i{
    font-size: 40%;

}
.Fperfil{
    border-radius: 50%;
    box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.178);
    margin: 50px;
    
}
.Formaçao{
    background-color: #762FCF;
    
    
}
.ttformaçao{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    
   
}

.divformaçao{
    display: flex;
    flex-direction: column;
    text-align: center;
}


.iformaçao{
    max-height: 250px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.589);
    border-radius: 25px;
    margin: 20px;
}

.listformaçao{
        border-radius: 15px;
        margin-left: 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 1000px;
        height: 550px;
        overflow-x: auto;
        margin: 25px;

}
.cardformacao{
    margin-left: 20px;
    height: 400px;
    background-color: #ffffff;
    margin-bottom: 15px;
    border-radius: 10px;
    padding: 55px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.39);
    cursor: pointer;
}

.tformçao{
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 15px;
    font-size: 4vh;
    color: #F44926;
    font-weight: bolder;
    width: 300px;
}
.conteiner{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.pformaçao{
    
    font-size: 150%;
    font-family: Arial, Helvetica, sans-serif;
}

.logoescola{
    margin-top: 30px;
    margin-left: 50px;
    max-width: 200px;
    
}

.projetos{
    background-color: #762FCF;
    height: 100vh;
    
}






::-webkit-scrollbar-thumb{
   background-color:#762FCF;
   box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.39);
   

}
::-webkit-scrollbar{
    background-color: #ffffff;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.39);
    
}